stepfunctions.yml
stateMachines:
  checks:
    name: run-checks
    definition:
      Comment: Runs checks before we can issue a driving license
      StartAt: RunChecks
      States:
        RunChecks:
          Type: Parallel
          Next: MergeRunChecks
          Branches:
            - StartAt: CreditCheck
              States:
                CreditCheck:
                  Type: Task
                  Resource: !GetAtt credit-check.Arn
                  ResultPath: $.checks.credit
                  End: true
            - StartAt: AgeCheck
              States:
                AgeCheck:
                  Type: Task
                  Resource: !GetAtt age-check.Arn
                  ResultPath: $.checks.age
                  End: true
        MergeRunChecks:
          Type: Task
          Next: ChecksPass
          Resource: !GetAtt merge-parallel.Arn
        ChecksPass:
          Type: Choice
          Choices:
            - And:
                - Variable: $.checks.credit
                  BooleanEquals: true
                - Variable: $.checks.age
                  BooleanEquals: true
              Next: CheckSuccess
          Default: WaitForManualApproval
        WaitForManualApproval:
          Type: Task
          Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
          Parameters:
            FunctionName: !GetAtt manual-approval.Arn
            Payload:
              data.$: $
              token.$: $$.Task.Token
          ResultPath: $.checks.approved
          Next: CheckApproval
        CheckApproval:
          Type: Choice
          Choices:
            - Variable: $.checks.approved
              BooleanEquals: true
              Next: CheckSuccess
          Default: CheckFail
        CheckSuccess:
          Type: Task
          Resource: !GetAtt success.Arn
          ResultPath: null
          End: true
        CheckFail:
          Type: Task
          Resource: !GetAtt fail.Arn
          ResultPath: null
          End: True